<!-- change-password.component.html -->
<div class="change-password-container">
    <div class="change-password-card">
        <div class="change-password-header">
            Changer le mot de passe
        </div>
        <div class="input-field">
            <input type="email" [(ngModel)]="passWord.email" required placeholder="Email :">
        </div>
        <div class="input-field">
            <input type="password" [(ngModel)]="passWord.currentPassword" required placeholder="Mot de passe actuel :">
        </div>
        <div class="input-field">
            <input type="password" [(ngModel)]="passWord.newPassword" required placeholder="Nouveau mot de passe :">
        </div>
        <div class="button-container">
            <button class="submit-btn" (click)="changePassWord()">Changer le mot de passe</button>
            <button class="cancel-btn" (click)="annuler()">Annuler</button>
        </div>
    </div>
</div>