<div class="flex justify-center items-center h-screen">
    <div class="container mx-auto">
      <div class="bg-white p-8 rounded-lg shadow-lg w-500 p-2">
        <div class="container" >
  
      <!-- <h2>Liste des workflow</h2> -->
      <div class="title-container">
        <h1 class="page-title">Exécution > <span>Liste workflows à exécuter</span>
      </h1>
      </div>
      <div class="user-list">
  
        
      <!-- list-workflow.component.html -->
      <div class="search-container">
        <input type="text" [(ngModel)]="searchTerm" (input)="filterWorkflows()" placeholder="Rechercher un workflow">
      </div>
      <table>
        <thead>
          <tr>
            <th class="col-num" style="text-align: center;">#</th>
            <th class="col-nom">Nom de workflow</th>
            <th class="col-description">Description</th>
            <th class="col-actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let wkf of filteredWorkflows | slice: (pageIndex - 1) * pageSize : pageIndex * pageSize, let i = index">
            <td class="col-num">{{ i + 1 }}</td>
            <td class="col-nom">{{wkf.name}}</td>
            <td class="col-description">{{wkf.description}}</td>
  
            <td class="col-actions">
  
              <button class="execute" (click)="executerDetails(wkf.id)">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#007bff" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
    <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"/>
  </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <mat-paginator [length]="Workflow.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)" [hidePageSize]="true">
      </mat-paginator>
    </div>
    </div>
    </div>
    </div>
    
    
